<h2 class="h2">Register College</h2>
<form method="post" action="/admin/colleges/new" class="card form">
  <label>College Name<input name="name" required></label>
  <button class="btn">Save</button>
</form>
